<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>主页</title>

    <!-- These plugins only need for the run this page -->
    <link rel="stylesheet" href="/public/atom/css/fullcalendar.min.css">

    <!-- Master Stylesheet [If you remove this CSS file, your file will be broken undoubtedly.] -->
    <link rel="stylesheet" href="/public/atom/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="admetro-page-wrapper">

        <!-- Page Content -->
        <div class="admetro-page-content" style="margin-left:0px">
            <!-- Top Header Area -->
            <header class="top-header-area d-flex align-items-center justify-content-between" style="width:calc(100%); left:0px">
                <div class="left-side-content-area d-flex align-items-center">
                    <!-- Mobile Logo -->
                    <div class="logo mr-3 mr-sm-4">
                        <a href=""><img src="/public/public/logo.png" alt="Mobile Logo"></a>
                    </div>
                </div>         

                <div class="right-side-navbar d-flex align-items-center justify-content-end" style="padding-right:10px">
                    <!-- Top Bar Nav -->
                    <ul class="d-flex align-items-center">
                        {% if data.user.type == 12 %}
                        <li class="nav-item dropdown nav-zy-mobile-show">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-menu" aria-hidden="true"></i></button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- Top Notifications Area -->
                                <div class="top-notifications-area">
                                    <div class="notifications-box" style="height:100%;">
                                        <a href="/mapi/dashboard/home?page=calendar" class="dropdown-item"><i class="ti-calendar bg-success"></i><span>课表</span></a>
                                        <a href="/mapi/dashboard/home?page=abroadplan" class="dropdown-item"><i class="ti-check"></i><span>留学中心</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>                        
                        <li class="nav-item dropdown btn-fill btn-fill-zy nav-zy-mobile-hide"><a class="nav-zy" href="/mapi/dashboard/home?page=calendar" style="font-size:0.78rem">课表</a></li>
                        <li class="nav-item dropdown btn-fill btn-fill-zy nav-zy-mobile-hide"><a class="nav-zy show" href="/mapi/dashboard/home?page=abroadplan" style="font-size:0.78rem">留学中心</a></li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/public/atom/img/profile-img/avatar_default.jpeg" alt="">
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- User Profile Area -->
                                <div class="user-profile-area">
                                    <div class="user-profile-heading">
                                        <!-- Thumb -->
                                        <div class="profile-thumbnail">
                                            <img src="/public/atom/img/profile-img/avatar_default.jpeg" alt="">
                                        </div>                                    
                                        <!-- Profile Text -->
                                        <div class="profile-text">
                                            <h6>{{ data.user.nickname }}</h6>
                                            <span>{{ data.user.school }} / {{ data.user.graduate }}</span>
                                        </div>
                                    </div>
                                    <a href="javascript:singout()" class="dropdown-item">
                                        <i class="ti-unlink text-warning" aria-hidden="true"></i> Sign-out
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <!-- Main Content Area -->
            <div class="main-content">
                <!-- Calendar area Start -->
                <div class="container-fluid">           
                    <div class="row">
                        <div class="col-12">
                            <div class="card bg-boxshadow full-height wow fadeInUp" data-wow-delay="0.7s">
                            <div>
                                <div class="widget-content-area-2 bg-img dark-color-overlay full-height" style="background-image: url(/public/atom/img/bg-img/plan.jpeg);">
                                    <div class="widget-content-2 text-center p-5">
                                        <h6 class="text-white mt-45">留学中心</h6>
                                    </div>
                                    <!-- Widget Footer -->
                                    <div class="footer-widget-2 d-flex justify-content-between white-opacity-0_2 p-3">
                                        {% if data.apackage.total > 0 %}
                                        <a href="#">您有{{ data.apackage.total }}项留学服务</a>     
                                        {% endif %}
                                    </div>
                                </div>
                            </div>   
                            <div>    
                                <div>
                                    <select name="make" class="form-control" id="selectService">
                                        <option value="">选择服务</option>
                                        {% for v in data.apackage.service %}
                                        <option {% if v.is_selected %} selected {% endif %} value="{{ v.url }}">{{ v.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>                                                   
                            <form class="forms-sample">
                                <div class="card-body">
                                    <div>
                                        <div class="mb-30 mt-30">
                                            <div class="widget-new-content bg-white bg-boxshadow full-height wow fadeInUp" data-wow-delay="400ms">
                                                <!-- Widget Stats -->
                                                <div class="widget---stats d-flex align-items-center mb-15">
                                                    <div class="widget---content-text">
                                                        <h6>检查项</h6>
                                                    </div>
                                                    <h6 class="font-color-purple font-weight-bold" style="margin-bottom:0px;">
                                                        {% if data.apackage.state == 0 %} 
                                                            暂未选择服务
                                                        {% elseif data.apackage.state == 1 %} 
                                                            服务未开通检查项
                                                        {% else %}
                                                            progress : {{ data.apackage.progress }}% 
                                                        {% endif %}
                                                    </h6>
                                                </div>

                                                <!-- Progress -->
                                                <div class="progress progress-md mb-15">
                                                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" {% if data.apackage.progress %} style="width: {{ data.apackage.progress }}%" aria-valuenow="{{ data.apackage.progress }}" {% endif %}  aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion accordian-style-3" id="accordion3" role="tablist">
                                        {% for i, v in data.apackage.lists %}
                                        <div class="card">
                                            <div class="card-header border-0" style="padding: 1rem;" role="tab" id="heading-{{ i }}">
                                                <h6 class="mb-0" style="font-size:14px;">
                                                    <a data-toggle="collapse" href="#collapse-{{ i }}" {% if i == 0 %} class="collapsed" aria-expanded="true" {% else %} aria-expanded="false" {% endif %} aria-controls="collapse-{{ i }}">
                                                        {{ v.title }} 
                                                        <span><i class="fa fa-angle-up"></i></span>
                                                        <span><i class="fa fa-angle-down"></i></span>
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-{{ i }}" class="collapse {% if i == 0 %} show {% endif %}" role="tabpanel" aria-labelledby="heading-{{ i }}" data-parent="#accordion3">
                                                <div class="card-body" style="padding:0px;">
                                                    <div class="table-responsive">
                                                        <table class="table m-0">
                                                            <tbody>
                                                                {% for v_item in v.items %}
                                                                <tr>
                                                                    <td class="py-3" style="vertical-align:middle;font-size:12px;">
                                                                        <div class="font-weight-semibold">{{ v_item.title }}</div>
                                                                        {% if v_item.sub_title %}
                                                                        <div class="text-muted">{{ v_item.sub_title }}</div>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td class="py-3" style="font-size:12px;">
                                                                        <div class="form-check pl-0 mb-15 mt-30">
                                                                            <label>
                                                                                {% if v_item.is_oc %}
                                                                                <input type="checkbox" checked="checked" disabled="true">
                                                                                {% else %}
                                                                                <input type="checkbox" disabled="true">
                                                                                {% endif %}
                                                                                <strong> operator</strong>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td class="py-3"  style="font-size:12px;">
                                                                        <div class="form-check pl-0 mb-15 mt-30">
                                                                            <label>
                                                                                {% if v_item.is_sc %}
                                                                                <input type="checkbox" checked="checked" class="zy_checkbox_abroadplan" disabled="true" data-id="sc_{{ v_item.key }}"  data-token="{{ data.apackage.token }}">
                                                                                {% else %}
                                                                                <input type="checkbox" class="zy_checkbox_abroadplan" data-id="sc_{{ v_item.key }}" data-token="{{ data.apackage.token }}">
                                                                                {% endif %}
                                                                                <strong> student</strong>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}                                                                                                                    
                                                            </tbody>
                                                        </table>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">确认提示</h5>
                    </div>
                    <div class="modal-body">
                        <p class="modal-text mb-3">勾选后不可取消, 确认该项指标已经完成</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn- btn-c-gradient-5 text-white mb-4 mr-3" id="dissClick" >取消</button>
                        <button type="button" class="btn- btn-c-gradient-1 text-white mb-4 mr-3" id="sureClick">确认</button>
                    </div>
                </div>
            </div>
        </div>            
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Must needed plugins to the run this template -->
    <script src="/public/atom/js/jquery.min.js"></script>
    <script src="/public/atom/js/popper.min.js"></script>
    <script src="/public/atom/js/bootstrap.min.js"></script>
    <script src="/public/atom/js/admetro.bundle.js"></script>

    <!-- These plugins only need for the run this page -->
    <script src="/public/atom/js/default-assets/accordion.js"></script>
    <script src="/public/atom/js/default-assets/active.js"></script>
    <script src="/public/atom/js/admetro.bundle.js"></script>
    <script src="/public/atom/js/mapi.js"></script>
    <script>
    function singout () {
        $.post("/mapi/sign/out",function(data){window.location.reload();});
    }
    </script>

</body>

</html>
