<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>课表</title>

    <!-- These plugins only need for the run this page -->
    <link rel="stylesheet" href="/public/atom/css/fullcalendar.min.css">

    <!-- Master Stylesheet [If you remove this CSS file, your file will be broken undoubtedly.] -->
    <link rel="stylesheet" href="/public/atom/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="admetro-page-wrapper">

        <!-- Page Content -->
        <div class="admetro-page-content" style="margin-left:0px">
            <!-- Top Header Area -->
            <header class="top-header-area d-flex align-items-center justify-content-between" style="width:calc(100%); left:0px">
                <div class="left-side-content-area d-flex align-items-center">
                    <!-- Mobile Logo -->
                    <div class="logo mr-3 mr-sm-4">
                        <a href=""><img src="/public/public/logo.png" alt="Mobile Logo"></a>
                    </div>
                </div>

                <div class="right-side-navbar d-flex align-items-center justify-content-end" style="padding-right:10px">
                    <!-- Top Bar Nav -->
                    <ul class="d-flex align-items-center">

                        <li class="nav-item dropdown">
                            {# <a class="btn dropdown-toggle" href="javascript:singout()">
                                <img src="/public/atom/img/profile-img/avatar_default.jpeg" alt="">
                            </a> #}
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/public/atom/img/profile-img/avatar_default.jpeg" alt=""></button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- User Profile Area -->
                                <div class="user-profile-area">
                                    <div class="user-profile-heading">
                                        <!-- Profile Text -->
                                        <div class="profile-text">
                                            <h6>{{ data.user.name }}</h6>
                                            {# <span>samanthasarah@example.com</span> #}
                                        </div>
                                    </div>
                                    <a href="javascript:singout()" class="dropdown-item"><i class="ti-unlink text-warning" aria-hidden="true"></i> 登出</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

                        <!-- Main Content Area -->
            <div class="main-content">
                <!-- Profile area Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-9" style="padding:0px;">
                            <div class="card bg-boxshadow mb-30">
                                <div class="card-body" style="padding:0.75rem;">
                                    <div id='fullcalendar-default-view'></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-30">

                            <div class="card bg-boxshadow">
                                <div class="card-body">
                                    {% if data.user.type == 13 %}
                                    <!-- Link area -->
                                    <div class="link--area d-flex align-items-center mb-15 ml-15">
                                        <!-- Logo area -->
                                        <div class="logo-link">
                                            <button class="btn btn-primary dim" type="button"><i class="fa fa-check"></i></button>
                                        </div>
                                        <!-- Text -->
                                        <div class="link--text">
                                            <a href="#">本月剩余总课时数 </a>
                                            <p class="mb-0">{{ data.lists.all_duration }} </p>
                                        </div>
                                    </div>

                                    <!-- Link area -->
                                    <div class="link--area d-flex align-items-center mb-15 ml-15">
                                        <!-- Logo area -->
                                        <div class="logo-link">
                                            <button class="btn btn-primary dim" type="button"><i class="fa fa-money"></i></button>
                                        </div>
                                        <!-- Text -->
                                        <div class="link--text">
                                            <a href="#">本月待完结课时数</a>
                                            <p class="mb-0">{{ data.lists.able_duration }} </p>
                                        </div>
                                    </div>
                                    <div class="link--area d-flex align-items-center mb-15 ml-15">
                                        <!-- Logo area -->
                                        <div class="logo-link">
                                            <button class="btn btn-primary dim" type="button"><i class="fa fa-upload"></i></button>
                                        </div>
                                        <!-- Text -->
                                        <div class="link--text">
                                            <a href="#">上月剩余总课时数 </a>
                                            <p class="mb-0">{{ data.lists.lm_duration }} </p>
                                        </div>
                                    </div>
                                    <div class="link--area d-flex align-items-center mb-15 ml-15">
                                        <!-- Logo area -->
                                        <div class="logo-link">
                                            <button class="btn btn-primary dim" type="button"><i class="fa fa-download"></i></button>
                                        </div>
                                        <!-- Text -->
                                        <div class="link--text">
                                            <a href="#">下月剩余总课时数 </a>
                                            <p class="mb-0">{{ data.lists.nm_duration }} </p>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if data.user.type == 12 %}
                                    <!-- Link area -->
                                    <div class="link--area d-flex align-items-center mb-15 ml-15">
                                        <!-- Logo area -->
                                        <div class="logo-link">
                                            <button class="btn btn-primary dim" type="button"><i class="fa fa-check"></i></button>
                                        </div>
                                        <!-- Text -->
                                        <div class="link--text">
                                            <a href="#">本月剩余总课时数 </a>
                                            <p class="mb-0">{{ data.lists.all_duration }} </p>
                                        </div>
                                    </div>

                                    <!-- Link area -->
                                    <div class="link--area d-flex align-items-center mb-15 ml-15">
                                        <!-- Logo area -->
                                        <div class="logo-link">
                                            <button class="btn btn-primary dim" type="button"><i class="fa fa-money"></i></button>
                                        </div>
                                        <!-- Text -->
                                        <div class="link--text">
                                            <a href="#">本月待完结课时数</a>
                                            <p class="mb-0">{{ data.lists.able_duration }} </p>
                                        </div>
                                    </div>
                                    <div class="link--area d-flex align-items-center mb-15 ml-15">
                                        <!-- Logo area -->
                                        <div class="logo-link">
                                            <button class="btn btn-primary dim" type="button"><i class="fa fa-upload"></i></button>
                                        </div>
                                        <!-- Text -->
                                        <div class="link--text">
                                            <a href="#">上月剩余总课时数 </a>
                                            <p class="mb-0">{{ data.lists.lm_duration }} </p>
                                        </div>
                                    </div>
                                    <div class="link--area d-flex align-items-center ml-15">
                                        <!-- Logo area -->
                                        <div class="logo-link">
                                            <button class="btn btn-primary dim" type="button"><i class="fa fa-download"></i></button>
                                        </div>
                                        <!-- Text -->
                                        <div class="link--text">
                                            <a href="#">下月剩余总课时数 </a>
                                            <p class="mb-0">{{ data.lists.nm_duration }} </p>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Must needed plugins to the run this template -->
    <script src="/public/atom/js/jquery.min.js"></script>
    <script src="/public/atom/js/popper.min.js"></script>
    <script src="/public/atom/js/bootstrap.min.js"></script>
    <script src="/public/atom/js/admetro.bundle.js"></script>

    <!-- These plugins only need for the run this page -->
    <script src="/public/atom/js/default-assets/fullcalendar-moment.min.js"></script>
    <script src="/public/atom/js/fullcalendar.min.js"></script>
    <script src="/public/atom/js/default-assets/ui-fullcalendr.js"></script>

    <!-- Active JS -->
    <script src="/public/atom/js/default-assets/active.js"></script>
    <script>
    function singout () {
        $.post("/mapi/sign/out",function(data){window.location.reload();});
    }
    </script>

</body>

</html>
